.mainCont { 
    padding: 30px 0;
    background-color: var(--background);
    position: absolute;
    z-index: 1;
}

.loginWing {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 25%;
}

/* ---------Login Container---------- */
.loginCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 23px;
    width: 35%;
    margin: auto;
    padding: 40px 40px;
    border: 2px solid var(--stroke);
    border-radius: 32px;
    background-color: var(--background);
    text-align: center;
    box-shadow: var(--brown-shadow), var(--white-shadow);
}


/* ---------Logo Container---------- */
.LogoCont{
    width: 80%;
}

.logoBackground {
    width: 64px;
    margin: auto;
    border: 2px solid var(--stroke);
    border-radius: 12px;
    box-shadow: var(--brown-shadow), var(--white-shadow);
}

.logoBackground img {
    width: 44px;
    margin: 8px;
    border-radius: 12px;
}


/* ---------Header Container---------- */
.headerCont h1 {
    line-height: 43.2px;
    font-size: 36px;
    font-family: var(--font-Epilogue);
    font-weight: 700;
    width: 80%;
    color: var(--black01);
}

.headerCont p {
    line-height: 25.6px;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 400;
    color: var(--brown02);
}


/* ---------Login Form Container---------- */
.emailField label, .passwordField label {
    font-size: 14px;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 600;
    line-height: 19.6px;
    color: var(--black01);
}

.PassTextCont span {
    font-size: 14px;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 400;
    line-height: 20px;
    color: var(--gold);
}

.passwordInput, .emailInput {
    box-shadow: inset var(--brown-shadow), inset var(--white-shadow);
}

.emailField input, .passwordField input {
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 400;
    color: var(--stroke);
}

.emailField input:focus , .passwordField input:focus {
    outline: none; 
}

.loginBtn button {
    background: var(--linear-bottom);
    color: var(--black01);
    box-shadow: var(--brown-shadow);
    font-family: var(--font-PlusJakartaSans);
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
}


/* ---------Seperator Container---------- */
.horizontalDivider span {
    font-size: 12px;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 400;
    color: var(--dark-gold);
    line-height: 16px;
    letter-spacing: 0.6px;
    margin: 0 16px;
}


/* ---------Social buttons Container---------- */
.socialLogins button {
    width: 56px;
    height: 56px;
    border: 1px solid var(--beige);
    border-radius: 12px;
    box-shadow: var(--brown-shadow), var(--white-shadow);
}


/* ---------Signup prompt Container---------- */
.signupPrompt p {
    font-size: 16px;
    font-family: var(--font-PlusJakartaSans);
    line-height: 25.6px;
}

.signupPrompt span {
    color: var(--gold);
    text-decoration: none;
}