.resetPassPage {
    background-color: var(--background);
    min-height: 100vh;
}

/* --------------- Main Container ----------------- */
.mainCon {
    width: 25%;
}

/* --------------- Form Container ----------------- */
.formCon {
    box-shadow: var(--brown-shadow), var(--white-shadow);
}

/* --------------- Header Form Container ----------------- */
.resetPassIconCon {
    padding: 15px 20px;
    box-shadow: var(--brown-shadow), var(--white-shadow);
    border-radius: 40%;
    background-color: var(--secondry02);
}

.headerCon h1 {
    color: var(--black01);
    font-family: var(--font-Epilogue);
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.headerCon p {
    color: var(--brown02);
    font-family: var(--font-PlusJakartaSans);
    font-size: 16px;
    line-height: 25.6px;
}

/* --------------- Email Input Field ----------------- */
.emailInput {
    box-shadow: inset var(--brown-shadow), inset var(--white-shadow);
    color: var(--brown02);
}

.submitCon input {
    outline: none;
    color: var(--brown02);
}

.submitCon label {
    color: var(--black01);
    font-family: var(--font-PlusJakartaSans);
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
}

/* --------------- Submit Button ----------------- */
.submitCon button {
    background: var(--linear-gold);
    color: #fff;
    font-family: var(--font-PlusJakartaSans);
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
}

/* --------------- Back to Login ----------------- */
.hexagonBorder {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--border-color);
    padding: 7px;
}

.navLogin span {
    color: var(--gold);
    font-family: var(--font-PlusJakartaSans);
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
}